* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'open sans', sans-serif;
}

body {
  color: #fff;
  background: #181818;
}

a {
  color: inherit;
  text-decoration: none;
}
