
.header {
  width: 100%;
}

.header-cover {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header-cover h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.logout {
  background-color: #000;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  transition: all .2s linear;
}

.logout:hover {
  background-color: #4f4f4f;
}
