
.calc-screen {
  width: 92%;
  text-align: right;
  font-size: 2rem;
  padding: 10px 0;
  min-height: 53px;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
}

.calc-body {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  display: flex;  
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.calc-body button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  border-radius: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 5px;
  cursor: pointer;
  color: #111;
  transition: all .1s linear;
}

.calc-body button:hover {
  opacity: .8;
}

.digits,
.signs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.digits {
  width: 70%;
  flex-direction: row-reverse;
}

.digits button {
  color: #111;
  width: 60px;
  height: 60px;
}

.digit-button {
  background-color: #e9e9e9;
}

.signs {
  width: 30%;
}

.signs button {
  width: 80px;
  height: 60px;
}

.sign-button {
  background-color: #4aacb1;
}

.digits .zero-btn {
  width: 145px;
}

.controlls {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.controlls button {
  width: 100%;
  height: 60px;
}

.ac-button {
  background-color: #ffca4f;
}

.equal-button {
  background-color: #1fbf4a;
}

.results-list {
  width: 100%;
  max-width: 360px;
  margin: 0px auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
}

@media screen and (max-width: 650px) {
  .calc-body {
    width: 100%;
    padding: 10px;
  }
  .calc-body button {
    font-size: 1.9rem;
    font-weight: 700;
  }
}